.app {
    height: 100vh;
    width: 100vw;

    &:has(main .treasure-page, main .home-page) {
        .steps {
            display: none;
        }
    }

    &:has(main .game-zone) {
        .navbar,
        .footer {
            display: none !important;
        }
        .nav-map {
            display: block !important;
        }
    }

    main {
        // flex: 1;
        .game-zone {
            height: 100%;
        }
    }
}
