.navigator {
    height: fit-content !important;
    .steps {
        position: absolute;
        width: 100%;
        top: 90px;
        left: 0;
        right: 0;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .game {
    }

    .connector-line {
        width: 40px;
        height: 2px;
        background-color: #ccc;
        &.last {
            // display: none;
            background-color: red;
        }
    }
}
